SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@minihighlandcows.store
SMTP_PASSWORD=BEOK@1991!

EMAIL_FROM_NAME="Dunblane Mini Highland Cows"
EMAIL_FROM_ADDRESS="info@minihighlandcows.store"
EMAIL_NOTIFICATION_RECIPIENT="info@minihighlandcows.store"
